.rnz-about-head{
    margin: 0;
    padding-left: 10vw;
    padding-right: 10vw;
    text-align: justify;
}

.rnz-image-bg-head{
    background-image: url('../img/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: auto;
}

.rnz-header{
    height: 100vh;
    padding-top: 15vh;
}

.rnz-about-img{
    margin: 0;
    padding-right: 10vw;
}

.rnz-image-bg-about{
    background-image: url('../img/footer-bg.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: auto;
}

.rnz-1,
.rnz-2,
.rnz-3 {
    background: linear-gradient(135deg, #ff6e40, #ff4081);
    border-radius: 2rem;
    width: 15vw; 
    height: 40vh; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: width 0.3s, background 0.3s, transform 0.3s;
    overflow: hidden;
}

.rnz-animation-test {
    width: 50%;
    transition: width 0.3s, background 0.3s, transform 0.3s;
    overflow: hidden;
    align-items: center;
}

@media (max-width: 991px) {
    .rnz-animation-test {
        width: 100%;
        transition: width 0.3s, background 0.3s, transform 0.3s;
        overflow: hidden;
    }
}

.rnz-animation-test:hover{
    transform: translateY(-5vh) scale(1);
    width: 100%;
    height: fit-content;
    padding-top: 5vh;
}

.rnz-animation-test:hover p{
    text-align: justify;
    font-size: 0.7rem;
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
}

.rnz-team-test{
    align-items: center;
    justify-content: center;
    height: 100%;
}

.rnz-1:hover,
.rnz-2:hover,
.rnz-3:hover {
    background: linear-gradient(135deg, #ff6e40, #ff4081);
    transform: translateY(-5vh);
    width: 50vh;
}

.rnz-col-animation{
    width: 50vh;
}

.rnz-image-bg-contact{
    background-image: url(../img/head-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}

.rnz-footer{
    background: linear-gradient(0deg, #000000, #2a2a2a);
}

.break-line {
    position: relative;
    width: 77%;
    border: none;
    border-top: 0.5vh dotted #ffffff;
    margin: 2vh auto;
    color: white;
    z-index: 2;
}

.rnz-creator{
    padding-left: 5vw;
    padding-right: 5vw;
}

.rnz-email h5{
    margin-top: 5vw;
    margin-right: 6vw;
    font-family: Arial, Helvetica, sans-serif;  
    font-size: 0.75rem;
}

.rnz-license{
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 10.5vw;
}

.rnz-license p{
    color: white;
    font-size: 0.75rem;
    font-family: Arial, Helvetica, sans-serif;
}

.rnz-contact-width{
    width: 50%;
}

.rnz-space-about{
    margin-top: 60vh;
}

.rnz-porto{
    margin: 0;
    width: 100%;
}

.rnz-chart{
    width:100%;
    max-width:700px;
    color: white;
}