* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

th{
    text-align: center;
    margin: 0;
    padding: 0;
}

header{
    background-color: #ffeabc;
    height: 15vh;
    line-height: 15vh;
    font-size: 2rem;
}

nav{
    background-color: #bbdefb;
    height: 10vh;
    line-height: 10vh;
    font-size: 1.5rem;
}

.content{
    background-color: #f8bbd0;
    height: 65vh;
    width:80%;
}

.menu{
    background-color: #c8e6c9;
}

footer{
    background-color: #ffeabc;
    height: 15vh;
    line-height: 15vh;
    font-size: 1.5rem;
}

.headingLayout{
    width: 50%;
    margin: 0 100px;
}

.headingLayout h1{
    font-size: 2rem;
}

.headingLayout p{
    text-align: justify;
}

.menuLayout{
    margin: 0 10px;
}

.menuLayout h1{
    font-size: 1.5rem;
}

.menuLayout ul li{
    margin-bottom: 10px;
}